@font-face {
    src: url('../font/EndlessBossBattleRegular-v7Ey.ttf');
    font-family: "EndlessBossBattle";
}

body {
    overflow: hidden;
    background: transparent;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: white;
    text-shadow: -3px 2px black;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.1em;
    font-family: 'EndlessBossBattle';
}

.wrappers {
    position: absolute;
    margin-top: 10px;
    width: 275px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    font-size: 28px;
    background: url(../img/namebar.png);
    filter: drop-shadow(-1px 1px 1px gray);
}    

#p1Wrapper {
    left: 0;
    margin-left: 3px;
}

#p2Wrapper {
    right: 0;
    margin-right: 3px;
}

.names {
    position: absolute;
    left: 0;
    width: 225px;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 1px;
    z-index: -2
}

.portrait {
    float: left;
    margin-top: -10px;
    margin-left: 2px;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 5;
}

#square {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
	z-index: -1;
}
    
.up {
    margin-top: 50px;
    margin-left: 15px;
    opacity: 0;
}

.dormie {
    position: relative;
    margin-top: -86px;
    margin-left: 14px;
    width: 262px;
    z-index: -1;
    opacity: 0;
    filter: drop-shadow(2px 2px 4px darkgray);
}

#scorecardWrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

#scorecard {
    width: 575px;
    height: 437px;
    margin-left: auto;
    margin-right: auto;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	position:relative;
}
	#scorecard.AUSTRALIA {
		background-image:url(../img/AUSTRALIA.png);
	}
	#scorecard.JAPAN {
		background-image:url(../img/JAPAN.png);
	}
	#scorecard.USA {
		background-image:url(../img/USA.png);
	}
	#scorecard.GERMANY {
		background-image:url(../img/GERMANY.png);
		
	}

.score {
    position: absolute;
	font-size:30px;
	width: 40px;
	text-align:center;
}
#frontNine, #backNine{width:70px;}
.score.godlike {
	color:#f7bd1e;
}
.score.nice {
	color:#ffff63;
}
.score.shithappens {
	color:#9cdeff;
}
.score.gitgud {
	color:#5a96e7;
}
#h1p1 {
    left: 99px;
    top: -249px;
}
#h1p2 {
    left: 56px;
    top: -202px;
}
#h2p1 {
    left: 64px;
    top: -249px;
}
#h2p2 {
    left: 21px;
    top: -202px;
}
#h3p1 {
    left: 28px;
    top: -249px;
}
#h3p2 {
    left: -15px;
    top: -202px;
}
#h4p1 {
    left: -9px;
    top: -249px;
}
#h4p2 {
    left: -52px;
    top: -202px;
}
#h5p1 {
    left: -45px;
    top: -249px;
}
#h5p2 {
    left: -88px;
    top: -202px;
}
#h6p1 {
    left: -82px;
    top: -249px;
}
#h6p2 {
    left: -125px;
    top: -202px;
}
#h7p1 {
    left: -117px;
    top: -249px;
}
#h7p2 {
    left: 392px;
    top: -245px;
}
#h8p1 {
    left: 397px;
    top: -293px;
}
#h8p2 {
    left: 355px;
    top: -245px;
}
#h9p1 {
    left: 362px;
    top: -293px;
}
#h9p2 {
    left: 320px;
    top: -245px;
}
#h10p1 {
    left: -112px;
    top: -153px;
}
#h10p2 {
    left: -155px;
    top: -106px;
}
#h11p1 {
    left: -149px;
    top: -153px;
}
#h11p2 {
    left: -192px;
    top: -106px;
}
#h12p1 {
    left: -184px;
    top: -153px;
}
#h12p2 {
    left: -227px;
    top: -106px;
}
#h13p1 {
    left: -221px;
    top: -153px;
}
#h13p2 {
    left: -263px;
    top: -106px;
}
#h14p1 {
    left: 230px;
    top: -196px;
}
#h14p2 {
    left: 188px;
    top: -148px;
}
#h15p1 {
    left: 195px;
    top: -196px;
}
#h15p2 {
    left: 153px;
    top: -148px;
}
#h16p1 {
    left: 159px;
    top: -196px;
}
#h16p2 {
    left: 117px;
    top: -148px;
}
#h17p1 {
    left: 123px;
    top: -196px;
}
#h17p2 {
    left: 80px;
    top: -148px;
}
#h18p1 {
    left: 87px;
    top: -196px;
}
#h18p2 {
    left: 45px;
    top: -148px;
}

.hide {
    display: none;
}
